<td class="col-{{ size }} {{ class_attr }}" {{ extra_attr }} title="{{ title }}">
    {% if url_name %}
    <a href="{% url url_name id %}" class="clickable-cell">
      {{ text|default:'&nbsp;' }} {{ emoji }}
    </a>
    {% elif url %}
    <a href="{{ url }}" class="clickable-cell">
      {{ text|default:'&nbsp;' }} {{ emoji }}
    </a>
    {% else %}
      {{ text|default:'&nbsp;' }} {{ emoji }}
    {% endif %}
</td>
