<div class="table-responsive">
  <table class="table table-bordered table-sm" id="pipelinesTable" width="100%" cellspacing="0">
    <thead>
      <tr class="d-flex">
        {% block header %}
        <th class="col-1-big">ID</th>
        <th class="col-1-big">Git Tree</th>
        <th class="col-1">Commit</th>
        <th class="col-4">Version</th>
        {% include 'tables/head_pipeline_jobs.html' %}
        {% endblock %}
      </tr>
    </thead>
    <tbody>
     {% for pipeline in pipelines %}
     {% block row %}
     <tr class="d-flex">
       <td class="col-1-big">
         <a class="clickable-cell" href="/pipeline/{{pipeline.pipeline_id}}">
           {{ pipeline.pipeline_id }}

           {% if pipeline.report_exists %}
           <i class="fas fa-envelope-open-text text-primary" title="Has reports"></i>
           {% endif %}
           {% if pipeline.has_targeted_tests %}
           <i class="fas fa-bullseye text-success" title="Has targeted tests"></i>
           {% endif %}
           {% if pipeline.has_issue_records %}
           <i class="fas fa-bug text-danger" title="Has issue records"></i>
           {% endif %}
           {% if pipeline.has_issue_records_bot_generated %}
           <i class="fas fa-robot text-danger" title="Has issue records automatically triaged"></i>
           {% endif %}
         </a>
       </td>
       <td class="col-1-big">
         <a class="clickable-cell" href="/pipeline/{{pipeline.pipeline_id}}">
           {{ pipeline.gittree.name }}
         </a>
       </td>
       <td class="col-1">
         <a class="clickable-cell" href="/pipeline/{{pipeline.pipeline_id}}">
           {{ pipeline.commit_id | slice:"7"}}
         </a>
       </td>
       <td class="col-4">
         <a class="clickable-cell" href="/pipeline/{{pipeline.pipeline_id}}">
           {{ pipeline.kernel_version }}

           {% if pipeline.trigger_variables.owner %}
           <span class="badge badge-info" title="Brew build owner">
             {{ pipeline.trigger_variables.owner }}
           </span>
           {% endif %}

           {% if show_badges is None or show_badges %}
             {% for record in pipeline.issue_records.all %}
               {% include 'issue_kind_badge.html' %}
             {% endfor %}
           {% endif %}
         </a>
       </td>
       {% include 'tables/cell_pipeline_jobs.html' %}
     </tr>
     {% endblock %}
     {% endfor %}
    </tbody>
  </table>
</div>
