{% extends 'tables/table_testrun_general.html' %}
{% block header %}
{% endblock %}

{% block row %}
<tr class="d-flex {{ testrun.passed_style.row }}">
    <td align="center" class="{{ testrun.passed_style.cell }}" title="{{testrun.result.name}}">
      {{ testrun.passed_style.icon|safe }}
      <i title="Waived test (this result does not affect overall test result)"  class="fas {% include 'waived_icon.html' with waived=testrun.waived %}"></i>
    </td>
    <td class="col-1"> {{ testrun.result.name }}</td>
    <td class="col-5"> {{ testrun.test.name }}</td>
    <td class="col-3">
      {{ testrun.kernel_arch.name }}
      {% if testrun.kernel_debug %}
      (debug)
      {% endif %}
    </td>
    <td class="col-1">{% include "link_beaker_task.html" with test=testrun.beakertestrun %}</td>
    <td class="col-1">{% include "link_gitlab_job.html" with jid=testrun.beakertestrun.jid %}</td>
</tr>
{% endblock %}
