{% extends 'tables/table_pipelines_general.html' %}
{% block header %}
<th class="col-1"></th>
<th class="col-1">ID</th>
<th class="col-2">Git Tree</th>
<th class="col-2">Date</th>
<th class="col-2">Version</th>
{% include 'tables/head_pipeline_jobs.html' %}
{% endblock %}

{% block row %}
<tr class="d-flex">
  <td class="col-1 clickable-cell" data-target="#collapse-{{ pipeline.pipeline_id }}"
      data-toggle="collapse" data-group-id="grandparent" data-role="expander"
      aria-expanded="false" aria-controls="collapse-{{ pipeline.pipeline_id }}">
    <div>
      <i title="Expand details" class="fas fa-caret-down rotate-if-collapsed"></i>
    </div>
  </td>
  {% url 'pipeline_get' pipeline.pipeline_id as pipeline_url %}
  {% with url=pipeline_url %}
  <td class="col-1">
    <a class="clickable-cell" href="{{ url }}">
      {{ pipeline.pipeline_id }}
      {% if pipeline.has_issue_records %}
      <i class="fas fa-bug text-danger" title="Has issue records"></i>
      {% endif %}
      {% if pipeline.has_issue_records_bot_generated %}
      <i class="fas fa-robot text-danger" title="Has issue records automatically triaged"></i>
      {% endif %}
    </a>
  </td>
  {% include 'tables/cell_clickable.html' with size='2' text=pipeline.gittree.name %}
  {% include 'tables/cell_clickable.html' with size='2' text=pipeline.created_at %}
  {% include 'tables/cell_clickable.html' with size='2' text=pipeline.kernel_version %}
  {% endwith %}
  {% include 'tables/cell_pipeline_jobs.html' %}
</tr>

<tr class="collapse" id="collapse-{{ pipeline.pipeline_id }}" aria-expanded="true">
  <td colspan="9">
    <table class="table table-bordered">
      <tbody>
      {% for run in pipeline.lint_jobs.all %}
        {% if not run.success and run.log %}
        {% include 'card_issue_log.html' %}
        {% endif %}
      {% endfor %}
      {% for run in pipeline.merge_jobs.all %}
        {% if not run.success and run.log %}
        {% include 'card_issue_log.html' %}
        {% endif %}
      {% endfor %}
      {% for run in pipeline.build_jobs.all %}
        {% if not run.success and run.log %}
        {% include 'card_issue_log.html' %}
        {% endif %}
      {% endfor %}
      </tbody>
    </table>
  </td>
</tr>
{% endblock %}
