{% load styles %}
{% load getattribute %}

<div class="row">
  <div class="col-xl-12 mb-2">
    <div class="card border-left-danger shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-uppercase mb-1">
                <i class="fas fa-bug text-danger"></i>
                Related Issue
            </div>

            <!-- Button to remove all these tests and builds related to this issue. -->
            <form action={% url 'views.kcidb.issues' %} method="post" onsubmit="return confirmRemoveIssue();">
              {% csrf_token %}
              <input type="hidden" id="action" name="action" value="remove">
              <input type="hidden" id="issue_id" name="issue_id" value="{{ occurrence.issue.id }}">
              {% for revision in occurrence.revisions %}
                <input type="hidden" id="revision_iids" name="revision_iids" value="{{ revision.iid }}">
              {% endfor %}
              {% for test in occurrence.tests %}
                <input type="hidden" id="test_iids" name="test_iids" value="{{ test.iid }}">
              {% endfor %}
              {% for build in occurrence.builds %}
                <input type="hidden" id="build_iids" name="build_iids" value="{{ build.iid }}">
              {% endfor %}
              <input type="hidden" id="redirect_to" name="redirect_to" value="{{ request.get_full_path }}">
              <button type="submit" class="close">
                <span>&times;</span>
              </button>
            </form>

            <div class="h5 mb-1 font-weight-bold">
              <span class="badge badge-danger" style="background-color: {{ occurrence.issue.kind.color }}"
                    title="{{ occurrence.kind.description }}">{{ occurrence.issue.kind.tag }}</span>
              <a href="{{ occurrence.issue.ticket_url }}">
                  {{ occurrence.issue.description }}
              </a>
              {% if occurrence.issue.kind.kernel_code_related %}
              <span class="badge badge-secondary" title="Origin tree: {{ occurrence.issue.origin_tree.name|default:'unknown' }}">{{ occurrence.issue.origin_tree.name|default:'unknown' }}</span>
              {% endif %}
            </div>

            {% if occurrence.builds %}
              <label>Builds Affected</label>
              <div class="table-responsive">
                <table class="table table-hover table-sm" width="100%" cellspacing="0">
                  <tbody>
                    {% for build in occurrence.builds %}
                      {% with url_name='views.kcidb.builds' id=build.iid %}
                        <tr class="d-flex border-left-{{ build.valid|get_style|getattribute:'color' }}  {{ build.valid|get_style|getattribute:'row' }}">
                          {% include 'tables/cell_clickable.html' with size='2' text=build.id extra_attr='align="center"' %}
                          {% include 'tables/cell_clickable.html' with size='9' text=build.architecture.name %}

                          <!-- Button to remove this Build from the issue -->
                          <td class="col-1">
                            <form action={% url 'views.kcidb.issues' %} method="post" onsubmit="return confirmRemoveBuild();">
                              {% csrf_token %}
                              <input type="hidden" id="action" name="action" value="remove">
                              <input type="hidden" id="issue_id" name="issue_id" value="{{ occurrence.issue.id }}">
                              <input type="hidden" id="build_iids" name="build_iids" value="{{ build.iid }}">
                              <input type="hidden" id="redirect_to" name="redirect_to" value="{{ request.get_full_path }}">
                              <button type="submit" class="close">
                                <span>&times;</span>
                              </button>
                            </form>
                          </td>
                          <!-- End Button to remove this Build from the issue -->

                        </tr>
                      {% endwith %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            {% endif %}

            {% if occurrence.tests %}
              <label>Tests Affected</label>
              <div class="table-responsive">
                <table class="table table-hover table-sm" width="100%" cellspacing="0">
                  <tbody>
                    {% for test in occurrence.tests %}
                      {% with url_name='views.kcidb.tests' id=test.iid %}
                        <tr class="d-flex border-left-{{ test.status.name|get_style|getattribute:'color' }} {{ test.status.name|get_style|getattribute:'row' }}">
                          {% include 'tables/cell_clickable.html' with size='2' text=test.id extra_attr='align="center"' %}
                          {% include 'tables/cell_clickable.html' with size='8' text=test.test.name %}
                          <td class="col-1-big"  align="right">
                            <a href="{% url url_name id %}" class="clickable-cell">
                              <i title="Waived test (this result does not affect overall test result)"
                                 class="fas {% include 'waived_icon.html' with waived=test.waived %}"></i>
                              {{ test.status.name|get_style|getattribute:'icon'|safe }}
                            </a>
                          </td>

                          <!-- Button to remove this test from the issue -->
                          <td class="col-0-5">
                            <form action={% url 'views.kcidb.issues' %} method="post" onsubmit="return confirmRemoveTest();">
                              {% csrf_token %}
                              <input type="hidden" id="action" name="action" value="remove">
                              <input type="hidden" id="issue_id" name="issue_id" value="{{ occurrence.issue.id }}">
                              <input type="hidden" id="test_iids" name="test_iids" value="{{ test.iid }}">
                              <input type="hidden" id="redirect_to" name="redirect_to" value="{{ request.get_full_path }}">
                              <button type="submit" class="close">
                                <span>&times;</span>
                              </button>
                            </form>
                          </td>
                          <!-- End button to remove this test from the issue -->

                        </tr>
                      {% endwith %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            {% endif %}

            {% if occurrence.testruns %}
              <label>Tests Affected</label>
              {% with test_jobs=occurrence.testruns %}
                {% include 'tables/table_testrun_issue_record.html' %}
              {% endwith %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
