{% load serialize %}
<div class="card border-bottom-primary shadow h-100 mb-1">
  <div class="card-body">
    <div class="row no-gutters align-items-center">
      <div class="col mr-2">
        <div class="row">
          <div class="col-xl-12">
            <label>Issue:</label>
              <a href="{% url 'issue_list' 'unresolved' %}?search={{issue_regex.issue.description}}">{{issue_regex.issue.description}}</a>
              {% if perms.datawarehouse.change_issueregex or perms.datawarehouse.delete_issueadd %}
              <button type="button" class="close" href="#" onclick="openIssueRegexModal('edit', {{ issue_regex|serialize:'IssueRegexSerializer' }})">
                <span>
                  <i class="fas fa-xs fa-pen"></i>
                </span>
              </button>
              {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="col-xl-4">
            <label>Text Match: </label> {{ issue_regex.text_match }}
          </div>
          <div class="col-xl-4">
            <label>File Name Match: </label> {{ issue_regex.file_name_match }}
          </div>
          <div class="col-xl-4">
            <label>Test Name Match: </label> {{ issue_regex.test_name_match }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

