{% load styles %}
{% load getattribute %}

<div class="row">
  <div class="col-xl-12 mb-2">
    <div class="card shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-uppercase mb-1">
                <i class="fas fa-fire-extinguisher text-danger"></i>
                Untriaged Failures
            </div>

            {% if object.untriaged_builds %}
              <label>Builds</label>
              <div class="table-responsive">
                <table class="table table-hover table-sm" width="100%" cellspacing="0">
                  <tbody>
                    {% for build in object.untriaged_builds %}
                      {% with url_name='views.kcidb.builds' id=build.iid %}
                        <tr class="d-flex border-left-{{ build.valid|get_style|getattribute:'color' }}  {{ build.valid|get_style|getattribute:'row' }}">
                          {% include 'tables/cell_clickable.html' with size='2' text=build.id extra_attr='align="center"' %}
                          {% include 'tables/cell_clickable.html' with size='10' text=build.architecture.name %}
                        </tr>
                      {% endwith %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            {% endif %}

            {% if object.untriaged_tests %}
              <label>Tests</label>
              <div class="table-responsive">
                <table class="table table-hover table-sm" width="100%" cellspacing="0">
                  <tbody>
                    {% for test in object.untriaged_tests %}
                      {% with url_name='views.kcidb.tests' id=test.iid %}
                        <tr class="d-flex border-left-{{ test.status.name|get_style|getattribute:'color' }} {{ test.status.name|get_style|getattribute:'row' }}">
                          {% include 'tables/cell_clickable.html' with size='2' text=test.id extra_attr='align="center"' %}
                          {% include 'tables/cell_clickable.html' with size='8' text=test.test.name %}
                          <td class="col-2"  align="right">
                            <a href="{% url url_name id %}" class="clickable-cell">
                              <i title="Waived test (this result does not affect overall test result)"
                                 class="fas {% include 'waived_icon.html' with waived=test.waived %}"></i>
                              {{ test.status.name|get_style|getattribute:'icon'|safe }}
                            </a>
                          </td>

                        </tr>
                      {% endwith %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
