{% include 'modal_edit_issue_record.html' with issue_record=record failed_test_jobs=failed_test_jobs %}

<div class="col-xl-12 col-md-12 mb-2">
    <div class="card border-bottom-danger shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <div class="text-xs font-weight-bold text-uppercase mb-1">
              Related Issue

              {% if record.bot_generated %}
              <span class="badge badge-primary" style="background-color: #3399FFA0" title="Beep beep. This issue was recorded by a script.">Bot Generated</span>
              {% endif %}

              <div class="action-icons-right">
                {% if perms.datawarehouse.change_issuerecord or perms.datawarehouse.delete_issuerecord %}
                <button type="button" href="#" data-toggle="modal" data-dismiss="modal" data-target="#editIssueRecordModal{{ record.id }}">
                  <span><i class="fas fa-sm fa-pen"></i></span>
                </button>
                {% endif %}
              </div>
          </div>
          <div class="h5 mb-1 font-weight-bold">
            {% include 'issue_kind_badge.html' %}
            <a href="{{record.issue.ticket_url}}">
                {{record.issue.description}}
            </a>
            {% if record.issue.kind.kernel_code_related %}
            <span class="badge badge-secondary" title="Origin tree: {{ record.issue.origin_tree.name|default:'unknown' }}">{{ record.issue.origin_tree.name|default:'unknown' }}</span>
            {% endif %}
          </div>
          {% with test_jobs=record.testruns.all %}
          {% include 'tables/table_testrun_issue_record.html' %}
          {% endwith %}
        </div>
      </div>
    </div>
  </div>
</div>
