{% if perms.datawarehouse.change_issuerecord or perms.datawarehouse.delete_issuerecord %}
<!-- Delete Record Modal -->
<div class="modal fade" id="deleteRecord{{ record.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteRecord{{ record.id }}Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="deleteRecord{{ record.id }}Label">Confirm action.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          Are you sure
          <i>{{ record.issue.description }}</i>
          doesn't belong in this pipeline?
          <br/>
          <br/>
          <b>This action cannot be undone.</b>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <form method="post" action="/pipeline/{{pipeline.pipeline_id}}/issue/{{record.id}}/delete">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Confirm</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- End Delete Record Modal -->
{% endif %}

<!-- Edit Issue Record Modal -->
<div class="modal fade" id="editIssueRecordModal{{ issue_record.id }}" tabindex="-1" role="dialog" aria-labelledby="editIssueRecordModal{{ issue_record.id }}Label" aria-hidden="true">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="editIssueRecordModal{{ issue_record.id }}Label">Associate Issue to Pipeline #{{ pipeline.pipeline_id }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/issuerecord/{{ issue_record.id }}/modify" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="testTable">Faulty Test Runs (optional)</label>
            <div class="table-responsive">
              <table class="table table-bordered" id="testTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    {% if perms.datawarehouse.change_issuerecord %}
                    <th></th>
                    {% endif %}
                    <th>Result</th>
                    <th>Test</th>
                    <th>Arch</th>
                    <th>Beaker Task</th>
                    <th>Gitlab Job</th>
                  </tr>
                </thead>
                <tbody>
                  {% for testrun in failed_test_jobs %}
                    {% if perms.datawarehouse.change_issuerecord or testrun in issue_record.testruns.all %}
                  <tr class="{{ testrun.passed_style.cell }}">
                    {% if perms.datawarehouse.change_issuerecord %}
                      <td>
                        <input type="checkbox" value="{{testrun.id}}" name="testrun_ids"
                          {% if testrun in issue_record.testruns.all %}
                          checked="checked"
                          {% endif %}>
                      </td>
                      {% endif %}
                      <td align="center" class="{{ testrun.passed_style.cell }}" title="{{testrun.result.name}}">
                        {{ testrun.passed_style.icon|safe }}
                        <i title="Waived test (this result does not affect overall test result)"  class="fas {% include 'waived_icon.html' with waived=testrun.waived %}"></i>
                        {% if testrun.issue_records.exists %}
                        <i title="This test was recorded as an issue." class="fas fa-bug text-danger"></i>
                        {% endif %}
                      </td>
                      <td>{{ testrun.test.name }}</td>
                      <td>{{ testrun.kernel_arch.name }}</td>
                      <td>{% include "link_beaker_task.html" with test=testrun.beakertestrun %}</td>
                      <td>{% include "link_gitlab_job.html" with jid=testrun.beakertestrun.jid %}</td>
                  </tr>
                  {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          {% if perms.datawarehouse.delete_issuerecord %}
          <button type="button" class="btn btn-danger" href="#" data-toggle="modal" data-dismiss="modal" data-target="#deleteRecord{{ record.id }}">Delete</button>
          {% endif %}
          {% if perms.datawarehouse.change_issuerecord %}
          <button type="submit" class="btn btn-primary">Save</button>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
</div>
<script src="/static/js/custom.js"></script>
<!-- End Edit Issue Record Modal -->
