{% load static %}
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
    <div class="sidebar-brand-icon">
      <img src="{% static 'favicon.ico' %}"/>

    </div>
    <div class="sidebar-brand-text mx-3">CKI <sub>data</sub></div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <a class="nav-link" href="/dashboard">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/metrics">
      <i class="fas fa-ruler"></i>
      <span>Metrics</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/kcidb/revisions">
      <i class="fas fa-database"></i>
      <span>Revisions</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Pipelines
  </div>

  <li class="nav-item">
    <a class="nav-link" href="/pipeline/running">
      <i class="fas fa-fw fa-running"></i>
      <span>Running</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/pipeline/submitter">
      <i class="fas fa-fw fa-user"></i>
      <span>Submitter</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/pipeline/summary">
      <i class="fas fa-fw fa-list-alt"></i>
      <span>Summary</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
      <i class="fas fa-fw fa-cloud-showers-heavy"></i>
      <span>Failures</span>
    </a>
    <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar" style="">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Failures Menu:</h6>
        <a class="collapse-item" href="/pipeline/failures">Failed Pipelines</a>
        <a class="collapse-item" href="/issue/list">Issues List</a>
        <a class="collapse-item" href="/issue/regex">Issues Regexes</a>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Patches
  </div>

  <!-- Nav Item - Summary -->
  <li class="nav-item">
    <a class="nav-link" href="/patches">
      <i class="fas fa-fw fa-list-alt"></i>
      <span>Summary</span></a>
  </li>

  <!-- Nav Item - Submitter -->
  <li class="nav-item">
    <a class="nav-link" href="/patches/submitter">
      <i class="fas fa-fw fa-user"></i>
      <span>Submitter</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
     Confidence
  </div>

  <li class="nav-item">
    <a class="nav-link" href="/confidence/tests">
      <i class="fas fa-fw fa-vial"></i>
      <span>Tests</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/confidence/hosts">
      <i class="fas fa-fw fa-server"></i>
      <span>Hosts</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
<!-- End of Sidebar -->
<script>
function setActive() {
  liObj = document.getElementById('accordionSidebar').getElementsByTagName('li');
  for(i=0;i<liObj.length;i++) {
    aObj = liObj[i].getElementsByTagName('a');
    if( aObj[0].href.endsWith( document.location.pathname )){
      liObj[i].className='nav-item active';
      console.log(document.location.pathname);
      console.log(aObj[0].href);

    }
  }
}
window.onload = setActive;
</script>
