{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}
<div class="container">

  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-lg-6">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <div class="row">
            <div class="col-lg-12">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                </div>
                <form method="post" action="{% url 'login' %}">
                  {% csrf_token %}
                  <div class="form-group">
                    <input type="text" class="form-control form-control-user" name="username" id="username" placeholder="Enter Username...">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control form-control-user" name="password" id="password" placeholder="Password">
                  </div>
                  {% if form.errors %}
                  <p>Your username and password didn't match. Please try again.</p>
                  {% endif %}
                  <input type="submit" value="Login" class="btn btn-primary btn-user btn-block">
                  <input type="hidden" name="next" value="{{ next }}">
                  <hr>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
{% endblock %}
