{% extends "base.html" %}
{% load styles %}
{% load getattribute %}

{% block title %}
Revision
{% endblock %}

{% block header %}
Revision
{% endblock %}

{% block content %}

{% with kind='revision' item=revision %}
{% include 'modal_new_issue_occurrence.html' %}
{% endwith %}

<!-- Start dropdown menu -->
<div class="col-xl-4 col-md-6 mb-4">
  <div class="row">
    <span class="dropdown">
      <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Actions
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a href="{% url 'kcidb.revisions.get' revision.iid %}" class="dropdown-item">View in API</a>
        {% if perms.datawarehouse.change_kcidbrevision or perms.datawarehouse.change_kcidbbuild or perms.datawarehouse.change_kcidbtest %}
        <a class="dropdown-item" data-toggle="modal" data-target="#issueOccurrenceModal" href="#">Associate Issue</a>
        {% endif %}
      </div>
    </span>
  </div>
</div>
<!-- End dropdown menu -->

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'views.kcidb.revisions' %}">All</a></li>
    <li class="breadcrumb-item active" aria-current="page">Revision</li>
  </ol>
</nav>

<div class="row">
  <div class="col-xl-4 col-md-4 mb-2">
    <div class="card border-left-{{ revision.valid|get_style|getattribute:'color' }} shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-uppercase mb-1">Revision Status</div>
            <div class="h5 mb-0 font-weight-bold text-{{ revision.valid|get_style|getattribute:'color' }}">{{ revision.valid|yesno:'Valid,Not Valid' }}</div>
          </div>
          <div class="col-auto">
            {{ revision.valid|get_style|getattribute:'icon_big'|safe }}
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if revision.stats_builds_run_count %}
  <div class="col-xl-4 col-md-4 mb-2">
    <div class="card border-left-{{ revision.stats_builds_passed|get_style|getattribute:'color' }} shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-uppercase mb-1">Build Status</div>
            <div class="h5 mb-0 font-weight-bold text-{{ revision.stats_builds_passed|get_style|getattribute:'color' }}">{{ revision.stats_builds_passed|yesno:'Passed,Failed' }}</div>
          </div>
          <div class="col-auto">
            {{ revision.stats_builds_passed|get_style|getattribute:'icon_big'|safe }}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  {% if revision.stats_tests_run_count %}
  <div class="col-xl-4 col-md-4 mb-2">
    <div class="card border-left-{{ revision.stats_tests_passed|get_style|getattribute:'color' }} shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-uppercase mb-1">Test Status</div>
            <div class="h5 mb-0 font-weight-bold text-{{ revision.stats_tests_passed|get_style|getattribute:'color' }}">{{ revision.stats_tests_passed|yesno:'Passed,Failed' }}</div>
          </div>
          <div class="col-auto">
            {{ revision.stats_tests_passed|get_style|getattribute:'icon_big'|safe }}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>

<div class="row">
  <div class="col-xl-12 mb-2">
    <div class="card">
      <div class="card-header border-left-{{ revision.valid|get_style|getattribute:'color' }}">
        <label>Revision ID: </label>
        {{ revision.id }}
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <label>Origin:</label> {{ revision.origin|default:'' }}
            </br>
          </div>

          <div class="col-6">
            <label>Tree:</label> {{ revision.tree|default:'' }}
            </br>
          </div>

          <div class="col-6">
            <label>Repository URL:</label> {{ revision.git_repository_url|default:'' }}
            </br>
          </div>

          <div class="col-6">
            <label>Repository Branch:</label> {{ revision.git_repository_branch|default:'' }}
            </br>
          </div>

          <div class="col-6">
            <label>Commit Hash:</label> {{ revision.git_commit_hash|default:'' }}
            </br>
          </div>

          <div class="col-6">
            <label>Commit Name:</label> {{ revision.git_commit_name|default:'' }}
            </br>
          </div>

          <div class="col-6">
            <label>Message ID:</label> {{ revision.message_id|default:'' }}
            </br>
          </div>

          <div class="col-6">
            <label>Description:</label> {{ revision.description|default:'' }}
            </br>
          </div>

          <div class="col-6">
            <label>Publishing Time:</label> {{ revision.publishing_time|default:'' }}
            </br>
          </div>

          <div class="col-6">
            <label>Discovery Time:</label> {{ revision.discovery_time|default:'' }}
            </br>
          </div>

          <div class="col-12">
            <label>Log URL:</label>
            <a href="{{ revision.log.url|default:'' }}">{{ revision.log.url|default:'' }}</a>
            </br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% if revision.has_objects_missing_triage %}
{% with object=revision %}
{% include 'card_kcidb_untriaged.html' %}
{% endwith %}
{% endif %}

<!-- Display all revision issues. -->
{% for occurrence in issue_occurrences %}
  {% include 'card_issue_occurrence.html' %}
{% endfor %}

{% if revision.patches.exists %}
<div class="row">
  <div class="col-xl-12 mb-2">
    <div class="card shadow">
      <div class="card-header py-3">
        List of Patches
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover table-sm" width="100%" cellspacing="0">
            <tbody>
              {% for patch in revision.patches.all %}
                  <tr class="d-flex">
                    {% include 'tables/cell_clickable.html' with size='6' text=patch.subject url=patch.url %}
                    {% include 'tables/cell_clickable.html' with size='6' text=patch.url url=patch.url %}
                  </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if builds.exists %}
<div class="row">
  <div class="col-xl-12 mb-2">
    <div class="card shadow">
      <div class="card-header py-3">
        List of Builds
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover table-sm" width="100%" cellspacing="0">
            <tbody>
              {% for build in builds %}
                {% with url_name='views.kcidb.builds' id=build.iid %}
                  <tr class="d-flex border-left-{{ build.all_passed|get_style|getattribute:'color' }}  {{ build.all_passed|get_style|getattribute:'row' }}">
                    {% include 'tables/cell_clickable.html' with size='2' text=build.id extra_attr='align="center"' %}
                    {% include 'tables/cell_clickable.html' with size='8' text=build.architecture.name %}
                    {% include 'tables/cell_clickable.html' with size='1' text='Build: ' emoji=build.valid|get_style|getattribute:'icon'|safe %}

                    {% if build.kcidbtest_set.exists %}
                      {% include 'tables/cell_clickable.html' with size='1' text='Tests: ' emoji=build.tests_passed|get_style|getattribute:'icon'|safe %}
                    {% else %}
                      {% include 'tables/cell_clickable.html' with size='1' %}
                    {% endif %}
                  </tr>
                {% endwith %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}

{% block script %}
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>

<script>
  var url = window.location.href;
  if (url.indexOf('#issueoccurrence') != -1) {
      $('#issueOccurrenceModal').modal('show');
  }
</script>
{% endblock %}
